* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: white;
    padding: 20px;
    color: black;
    text-align: center;
}

.body {
    background-color: rgb(59, 58, 58);
    color: white;
}
.rules {
    text-align: center;
    padding: 0;
    margin-top: 1cm;
}

.buttons {
    margin-top: 2cm;
    max-width: 25%;
    max-height: 25%;
    margin: auto;
    width: 50%;
    text-align: center;
}

.computer-choice {
    text-align: center;
    margin-top: 1cm;
    font-size: 3em;
}

.result {
    text-align: center;
    margin-top: 1cm;
    font-size: 3em;
}